body {
    
    background: url("images/background.jpg");
    
    height: 100%; 


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

html {
    height: 100%;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

/* importing diff */

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
