body {
    
    /*background: url("images/background.jpg");*/
    
    height: 100%; 


    /* Center and scale the image nicely */
    background-color: midnightblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

html {
    height: 100%;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

/* importing diff */

.content-section {
    /*background: #ffffff;*/
    background: #003366;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.private-area {
  margin: 0 0 3px 0;
}

h1{
    background-color: white;
}
h2{
    background-color: white;
}
h3{
    background-color: white;
}
h4{
    background-color: white;
}
h5{
    background-color: white;
}
h6{
    background-color: white;
}